html, body {
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #101010;
	font-family: '8BITWONDERNominal';
	font-size: 0;
}
input {
	opacity: 0;
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
}